@import "styles/colors.scss";

.wrapper {
  box-sizing: border-box;
  max-width: 315px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: $box-shadow;
}

.title {
  height: 100px;
  padding: 15px 18px;
  display: flex;
  align-items: center;
  background: $grey;

  & > span {
    font-size: 24px;
    font-weight: 700;
    color:$green2;
  }
}

.picture {
  max-width: 315px;
  height: 300px;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

@media screen and (max-width: 661px) {
  .wrapper {
    width: 315px;
  }
}