$black: #333333;
$black2: #2D2E2E;
$black3: #565656;
$black4: #000000;

$green: #a0cd9e;
$green2: #3a4f39;

$grey: #eff6f3;
$grey2: #eaeaea;

$white: #ffffff;

$box-shadow: 0px 12px 24px 0px #272D4D33, 0px 1px 2px 0px #1E1E2033;
$box-shadow2: 0px 4px 4px 0px #00000040;
