.wrapper {
  display: flex;
  gap: 10px;
  max-width: 617px;
  width: 100%;
  
  & > label {
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
  }

  & > div {
    position: relative;
  }

  & select {
    width: 405px;
    height: 54px;
    padding: 7px 10px 7px 16px;
    background: #eaeaea;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  & img {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 12px;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    flex-wrap: wrap;

    & > div > select {
      min-width: 424px;
    }
  }
}
